build_output/*
code_drop/*
.DS_Store

**/*.suo
**/*.user
**/*.sln*

*.csproj.user
*.resharper.user
*.resharper
*.cache
*~
*.swp
*.bak
*.orig
*.gem

TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
